p{
    font-family: 'Century Gothic';
    color: #fff;
}
h1{
    font-family: 'Century Gothic';
    color: #fff;
}
h2{
    font-family: 'Century Gothic';
    color: #fff;
}
h3{
    font-family: 'Century Gothic';
    color: #fff;
}
h4{
    font-family: 'Century Gothic';
    color: #fff;
}
a{
    font-family: 'Century Gothic';
    color: #fff;
}