.circular_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/
    display:inline-block;
    vertical-align:middle;
  }

  .username p{
      font-size: 20px;
      color: #000;
  }