<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: #ff0000">
        Warning: Diese Aktion ist absolut und unwiderruflich. Wirklich Fortfahren??
    </h1>
    <form action="/account/delete" method="post">
        <input type="submit" value="Ja, lösche meinen Account und alle damit zusammenhängenden Daten">
        <a href="/@me"><input type="button" value="Nein, bitte nicht :("></a>
    </form>
</body>
</html>