<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/cdn/js/devtool-block.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/cdn/css/main.css">
    <title>Document</title>
    <script>
        document.onkeydown = function(e) {
    if(event.keyCode == 123) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
       return false;
    }
    if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
       return false;
    }
  }
  window.addEventListener('contextmenu', function (e) {
    document.body.innerHTML 
    alert('Oh what you doing pal?');
    e.preventDefault();
  }, false);
  
    </script>
</head>
<body bgcolor="#000">
    <img src="https://http.cat/{{err}}.jpg">
    <a href="/"><button>Go Home</button></a> <button onclick="history.back()">Go back one</button> <a href="/profile/stift007"><button>Contact the owner</button></a>
</body>
</html>