<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cdn/css/main.css">
    <title>Bitte warten</title>
</head>
<body bgcolor="#251F4C">
    <h1>Dein Account wurde zur Warteschleife hinzugefügt.</h1>
    <h2>Ein Administrator wird in bald annehmen bzw Ablehnen.</h2>
    <a href="https://docs.vitzcloud.repl.co/v1/keeping-vc-safe-and-sound">Mehr über die Warteschleife</a>
</body>
</html>