<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cdn/css/main.css">
    <title>VitzCloud</title>
</head>
<body>
    <h1>Hmmm...</h1>
    <h2>Irgendwas stimmt hier nicht.</h2>
    <h4>In deinem Account wurden seltsame Aktivitäten festgestellt.</h4>
    <p>Drücke <a href="/logoff">hier</a> um dich abzumelden, <br>Oder schicke eine wütende Mail an <a href="mailto:dsstift@icloud.com">den Admin</a></a></p>
</body>
</html>