<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/cdn/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warteschlange</title>
</head>
<body bgcolor="#251F4C">
    <h1>Hier sind alle unregistrierten Benutzer</h1>
    {%for user in users%}
    <p>{{user.name}} || {{user.fullname}}</p> <a href="/admin/approve?account={{user.username}}"><button>Annehmen</button></a> <a href="/admin/delete?account={{user.username}}"><button>Ablehnen</button></a>
    {%endfor%}
</body>
</html>